<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="QueueName" value=".\private$\importData_queue" />
    <add key="ImportExportDir" value="C://ImportExport" />
    <add key="ErrorLogDir" value="C://ImportExport" />
    <add key="adminMail" value="fg.randazzo@hotmail.it" />
    <add key="sendCrossMail" value="true" />
    <add key="testJoinAll" value="true" />
    <add key="JoinAllImportExportDir" value="C://JoinAllImportExport" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <httpRuntime executionTimeout="300" maxRequestLength="30000" />
    <compilation debug ="true" targetFramework="4.0" />
    <authentication mode="None" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>